@import "./quicksandfont";

header {
  background: url("/Assets/header\ pattern\ image.png");
  background-blend-mode: multiply;
  background-color: #666666;
  height: 2.969rem;
  width: 100%;
  border-bottom: 0.25rem solid #31b9e4;
  .logo_header {
    padding: 0.5rem;
  }
}

body {
  margin: 0;
  background-color: #eeeeee;
  width: 100%;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 1rem;
  accent-color: #1f7a54;
  main {
    display: flex;
    justify-content: center;
    .card {
      background: #ffffff;
      border-top: 0.25rem solid #3ac7ec;
      opacity: 1;
      margin: 3rem auto 1.5rem;
      max-width: 30.5rem;
      .container {
        padding: 0 2rem;
        .card_header {
          padding-top: 1.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            font-family: Quicksand;
            font: normal normal medium 1.5rem /*1.75rem*/ Quicksand;
            font-weight: medium;
            letter-spacing: 0;
            font-size: 1.5rem;
            color: #222222;
            opacity: 1;
            margin: 0 auto;
          }
          a {
            width: 1.063rem;
            height: 1.625rem;
            color: #1f7a54;
            background: transparent;
            border: none;
            cursor: pointer;
          }
        }
        .card_body {
          display: flex;
          flex-direction: column;
          .drop-down {
            display: flex;
            flex-direction: column;
            width: 100%;
            label {
              margin: 1.563rem 0 0.313rem 0;
            }
          }
        }
      }
    }
    .text-muted {
      text-align: left;
      letter-spacing: 0;
      color: #666666;
      opacity: 1;
      font-weight: normal;
      font-size: 0.75rem;
    }
    .radio_group {
      display: flex;
      flex-direction: row;
      margin-top: 2rem;
    }
    .radio_element {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-right: 2rem;
      input {
        margin-right: 0.5rem;
      }
    }
  }
}

input[type="text"] {
  border: none;
  border-bottom: 0.063rem solid #e0e1e1;
  width: 100%;
  font-size: 1rem;
  font-weight: medium;
  font-family: Quicksand;
  margin-top: 1rem;
}
input[type="password"] {
  border: none;
  border-bottom: 0.063rem solid #e0e1e1;
  width: 100%;
  margin-top: 3.5rem;
  font-size: 1rem;
  font-weight: medium;
  margin-top: 2.25rem;
}
input[type="checkbox"] {
  height: 1.5rem;
  width: 1.125rem;
}
input[type="radio"] {
  width: 1.5rem;
  height: 1.25rem;
  margin: 0 0.5rem 0 0;
}
select {
  border: none;
  border-bottom: 0.063rem solid #e0e1e1;
  text-align: left;
  font-family: Quicksand;
  letter-spacing: 0px;
  color: #222222;
  width: 100%;
  margin: 0 0 0 -0.2rem;
  font-size: 1rem;
  font-weight: medium;
  padding: 0.4rem 0;
  margin-bottom: 2.25rem;
}

.forgot_option {
  float: right;
  color: #1f7a54;
  font-weight: medium;
  font-size: 0.875rem;
  text-decoration: none;
  margin-top: 0.5rem;
  cursor: pointer;
}
.Remember_ME {
  margin-top: 3.375rem;
  align-items: center;
  font-size: 1rem;
  font-weight: normal normal medium;
  letter-spacing: 0;
}
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.5rem;
  height: 2.5rem;
  font-weight: medium;
  border: none;
  background: #3fd28b;
  box-shadow: 0 0.188rem 0.313rem #0000003d;
  opacity: 1;
  margin: 2.125rem 8.5rem 1.5rem 8.5rem;
  cursor: pointer;
}

footer {
  width: 100%;
  bottom: 0;
  .lower_footer {
    background-color: #e0e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
  }
  .upper_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    color: #1f7a54;
    font-weight: 600;
  }
}
