@font-face {
    font-family: "Quicksand";
    src: url("Assets/Quicksand\ font\ 1/static/Quicksand-Bold.ttf")
      format("truetype");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "Quicksand";
    src: url("Assets/Quicksand\ font\ 1/static/Quicksand-Light.ttf")
      format("truetype");
    font-weight: light;
  }
  
  @font-face {
    font-family: "Quicksand";
    src: url("Assets/Quicksand\ font\ 1/static/Quicksand-Medium.ttf")
      format("truetype");
    font-weight: medium;
  }
  
  @font-face {
    font-family: "Quicksand";
    src: url("Assets/Quicksand\ font\ 1/static/Quicksand-Regular.ttf")
      format("truetype");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Quicksand";
    src: url("Assets/Quicksand\ font\ 1/static/Quicksand-SemiBold.ttf")
      format("truetype");
    font-weight: 600;
  }