@import "./quicksandfont";

body {
  margin: 0;
  background-color: #eeeeee;
  font-family: Quicksand;
  font-size: 1.5rem;
  font-weight: normal;
}
header {
  background: url(./Assets/header\ pattern\ image.png);
  background-color: #25313f;
  background-blend-mode: multiply;
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  .logo_header {
    padding: 0.5rem;
  }
}

.navbaar {
  display: grid;
  grid-template-columns: repeat(8, 0.2fr);
  gap: 2rem;
  font-size: 0.875rem;
  font-weight: normal;
  align-items: center;
  margin-right: 1.7rem;
  a {
    padding: 0.99rem 0;
  }
  .badge {
    letter-spacing: -0.031rem;
    border-radius: 100%;
    background-color: #2a7ff3;
    width: 1.063rem;
    display: block;
    color: white;
    position: absolute;
    top: 8px;
    transform: translateX(0.625rem);
  }

  .selected {
    color: #eeeeee;
    border-bottom: 0.21rem solid #eeeeee;
  }
  .hamburger {
    display: none;
  }
}

a:-webkit-any-link {
  text-align: center;
  letter-spacing: 0.044rem;
  color: #3fd28b;
  text-decoration: none;
  height: max-content;
}

.toggle_category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin: 1.5rem;
  background-color: #8ddc97;
  border-radius: 0.126rem;
  div {
    display: flex;
    align-items: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    width: 100%;
    justify-content: center;
  }
  .courses {
    border-bottom: 0.25rem solid #222222;
  }
}

.info_filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  p {
    color: #686868;
    font-size: 0.75rem;
    font-weight: medium;
  }
}
.dropdown {
  display: flex;
  label {
    height: 15px;
    width: 100px;
    // margin-right: 30px;
    font-size: 1rem;
  }
  select {
    background-color: transparent;
    padding-right: 3.375rem;
    padding-bottom: 0.375rem;
    border-color: #666666;
  }
  img {
    margin-left: 1rem;
    margin-bottom: 0.75rem;
  }
}

hr {
  color: #000000;
  opacity: 0.12;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.card {
  background-color: #ffffff;
  padding: 1.5rem 0;
  .card_heading {
    display: flex;
    justify-content: space-between;
    h3 {
      margin: 0;
      font-size: 1rem;
      font-weight: medium;
    }
    .favourite {
      background-image: url("/Assets/favourite.svg");
      width: 20px;
      height: 24px;
    }
  }
}
.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(29.75rem, 0.25fr));
  justify-content: center;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 24px;
  padding: 0px 24px;
  .card_footer {
    display: flex;
    justify-content: space-evenly;
  }
  .card_upper {
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 0px 24px;
    .card_upper_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 2.625rem;
    }
  }
}

.text-muted {
  font-size: 12px;
  letter-spacing: 0px;
  color: #666666;
}

select {
  display: flex;
  justify-content: space-between;
  border: none;
  appearance: none;
  background-image: url("Assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  border-bottom: 2px solid #000000;
  width: 95%;
  padding: 2px auto 3px 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: medium;
  letter-spacing: 0px;
}
p {
  margin: 0;
}

footer {
  margin-top: 32px;
  left: 0;
  bottom: 0;
  width: 100%;
  .lower_footer {
    background-color: #e0e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #616161;
  }
  .upper_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    color: #1f7a54;
    font-weight: 600;
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 972px) {
  .card_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(29.75rem, 0.5fr));
    grid-template-rows: 25% 25%;
    grid-gap: 24px;
    padding: 0px 24px;
    margin-bottom: 24px;
    justify-content: center;
  }
  .card {
    max-width: 35.688rem;
    max-height: 246 rem;
  }
  .desktop_only {
    display: none;
  }
  .navbaar {
    .hamburger {
      display: unset;
    }
  }
  .navbaar {
    grid-template-columns: repeat(4, 0.2fr);
  }
  footer {
    padding-top: 32px;
  }
}
