@charset "UTF-8";
@font-face {
  font-family: "Quicksand";
  src: url("Assets/Quicksand font 1/static/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Quicksand";
  src: url("Assets/Quicksand font 1/static/Quicksand-Light.ttf") format("truetype");
  font-weight: light;
}
@font-face {
  font-family: "Quicksand";
  src: url("Assets/Quicksand font 1/static/Quicksand-Medium.ttf") format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Quicksand";
  src: url("Assets/Quicksand font 1/static/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("Assets/Quicksand font 1/static/Quicksand-SemiBold.ttf") format("truetype");
  font-weight:  600;
}
@keyframes easy {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 0;
  background-color: #eeeeee;
  font-family: Quicksand;
  font-size: 1.5rem;
  font-weight: normal;
}

header {
  background: url(./Assets/header\ pattern\ image.png);
  background-color: #25313f;
  background-blend-mode: multiply;
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
}
header .logo_header {
  padding: 0.5rem;
}

.navbaar {
  display: flex;
  gap: 2rem;
  font-size: 0.875rem;
  font-weight: normal;
  align-items: center;
  justify-content: right;
  margin-right: 1.7rem;
}
.navbaar #show {
  position: absolute;
  top: 3.688rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 0rem;
  font-size: 0.875rem;
  font-weight: normal;
  align-items: center;
  z-index: 100;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
}
.navbaar #show a {
  color: #1f7a54;
  width: 17.5rem;
  display: flex;
  padding-left: 1rem;
  justify-content: space-between;
  align-items: center;
}
.navbaar .desktop_only {
  display: flex;
  gap: 2rem;
  font-size: 0.875rem;
  font-weight: normal;
  align-items: center;
}
.navbaar .permanant {
  display: flex;
  gap: 2rem;
}
.navbaar a {
  padding: 0.99rem 0;
  text-align: center;
  letter-spacing: 0.044rem;
  color: #3fd28b;
  text-decoration: none;
  height: -moz-max-content;
  height: max-content;
}
.navbaar a .badge {
  letter-spacing: -0.031rem;
  border-radius: 100%;
  background-color: #2a7ff3;
  width: 1.063rem;
  display: block;
  color: white;
  position: absolute;
  top: 8px;
  transform: translateX(0.625rem);
}
.navbaar .selected {
  color: #eeeeee;
  border-bottom: 0.21rem solid #eeeeee;
}
.navbaar #unselected {
  color: #1f7a54;
  background-color: white;
  border: none;
}
.navbaar #selected {
  color: #1f7a54;
  background-color: #f3f3f3;
  border: none;
}
.navbaar button {
  background: transparent 0% 0% no-repeat padding-box;
  background-blend-mode: multiply;
  border: none;
}

.hamburger {
  display: none;
  width: 27px;
  height: 18px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
}

.hamburger-menu {
  width: 280px;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 61.138px;
  margin-top: 3px;
  margin-right: 16px;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  border-radius: 2px;
  cursor: pointer;
  z-index: 10;
  padding: 0;
  animation-name: easy;
  animation-duration: 1s;
}

.nav-items {
  list-style: none;
  letter-spacing: 1px;
  display: none;
  flex-direction: column;
  color: #1f7a54;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  line-height: 2em;
  width: 100%;
  padding: 0;
}
.nav-items ol {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-items ol .with-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items li {
  padding-left: 16px;
  padding-top: 15px;
  width: -webkit-fill-available;
}
.nav-items li:hover {
  background-color: #f3f3f3;
}
.nav-items li:hover .sub-menu {
  display: block;
}

.sub-menu {
  display: none;
  margin: 0;
  padding: 16px 0 8px 16px;
}

.toggle_category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin: 1.5rem;
  background-color: #8ddc97;
  border-radius: 0.126rem;
}
.toggle_category div {
  display: flex;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  width: 100%;
  justify-content: center;
}
.toggle_category .courses {
  border-bottom: 0.25rem solid #222222;
}

.info_filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.info_filter p {
  color: #686868;
  font-size: 0.75rem;
  font-weight: medium;
}

.dropdown {
  display: flex;
}
.dropdown label {
  height: 15px;
  width: 100px;
  font-size: 1rem;
}
.dropdown select {
  background-color: transparent;
  padding-right: 3.375rem;
  padding-bottom: 0.375rem;
  border-color: #666666;
}
.dropdown img {
  margin-left: 1rem;
  margin-bottom: 0.75rem;
}

hr {
  color: #000000;
  opacity: 0.12;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.card {
  background-color: #ffffff;
  padding: 1.5rem 0;
}
.card .card_heading {
  display: flex;
  justify-content: space-between;
}
.card .card_heading h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: medium;
}
.card .card_heading .favourite {
  width: 20px;
  height: 24px;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(29.75rem, 0.25fr));
  justify-content: center;
  grid-template-rows: auto;
  grid-gap: 24px;
  padding: 0px 24px;
}
.card_grid .card_footer {
  display: flex;
  justify-content: space-evenly;
}
.card_grid .card_upper {
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 0px 24px;
}
.card_grid .card_upper .card_upper_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.625rem;
}

.text-muted {
  font-size: 12px;
  letter-spacing: 0px;
  color: #666666;
}

select {
  display: flex;
  justify-content: space-between;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("Assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  border-bottom: 2px solid #000000;
  width: 95%;
  padding: 2px auto 3px 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: medium;
  letter-spacing: 0px;
}

p {
  margin: 0;
}

footer {
  margin-top: 32px;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer a {
  color: #1f7a54;
  display: flex;
  text-decoration: none;
}
footer .lower_footer {
  background-color: #e0e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #616161;
  font-size: 0.875rem;
}
footer .upper_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  color: #1f7a54;
  font-weight: 600;
  font-size: 0.875rem;
}

.alert_wrapper {
  display: none;
  position: absolute;
  top: 61.138px;
  margin-top: 3px;
  margin-right: 16px;
  right: 109px;
  z-index: 5;
}

.alert-list {
  display: none;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 638px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  border-radius: 2px;
  cursor: pointer;
  z-index: 5;
  padding: 0;
  animation-name: easy;
  animation-duration: 1s;
}

.alert_list_item {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  width: 315px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.msg {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 0 16px;
  margin-right: 10px;
  font-size: 14px;
}
.msg img {
  border-radius: 50%;
}
.msg p {
  margin: 0;
}

.date-time {
  font-size: 12px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 8px 16px 16px auto;
}

.class_course_alert {
  margin: 8px 0 0 16px;
  font-size: 12px;
}

.btn {
  color: #1f7a54;
  font-size: 14px;
  position: relative;
  bottom: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-radius: 0px 0px 2px 2px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  cursor: pointer;
  width: 315px;
}

.announcement_wrapper {
  display: none;
  position: absolute;
  top: 61.138px;
  margin-top: 3px;
  margin-right: 16px;
  right: 55px;
  z-index: 5;
}

.announcement-list {
  display: none;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 582px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  border-radius: 2px;
  cursor: pointer;
  z-index: 5;
  padding: 0;
  animation-name: easy;
  animation-duration: 1s;
}

.pa_header {
  display: flex;
  justify-content: space-between;
  margin: 16px 16px 0 16px;
  font-size: 12px;
}
.pa_header p {
  margin: 0;
}
.pa_header img {
  width: 17px;
  height: 21px;
}

.pa_title {
  color: #6e6e6e;
}

.pa_name {
  color: #222222;
}

.pa_msg {
  margin: 8px 30px 0 16px;
  font-size: 14px;
  color: #222222;
}

.class_course_announcement {
  margin: 8px 0 0 16px;
  font-size: 12px;
  color: #6e6e6e;
}

.attachedfile {
  font-size: 12px;
  display: flex;
}
.attachedfile img {
  width: 14px;
  height: 14px;
  color: #6e6e6e;
}

.announcement_list_item {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  max-width: 315px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.announcement_date_time {
  font-size: 12px;
  width: -moz-fit-content;
  width: fit-content;
}

.pa_footer {
  display: flex;
  justify-content: space-between;
  color: #6e6e6e;
  margin: 8px 16px 16px 16px;
}

.announcement_btn {
  color: #1f7a54;
  font-size: 14px;
  position: relative;
  bottom: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 48px;
  border-radius: 0px 0px 2px 2px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  cursor: pointer;
  width: 315px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.faded {
  opacity: 0.4;
}

.show {
  display: flex;
  animation-name: easy;
  animation-duration: 1s;
}

.show_block {
  display: block;
  animation-name: easy;
  animation-duration: 1s;
}

@media screen and (max-width: 972px) {
  .card_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(29.75rem, 0.5fr));
    grid-template-rows: auto;
    grid-gap: 24px;
    margin-bottom: 24px;
    justify-content: center;
  }
  .card {
    max-width: 35.688rem;
    max-height: 246rem rem;
    padding-bottom: 24px 0;
  }
  .navbaar .desktop_only {
    display: none;
  }
  .navbaar .hamburger {
    display: flex;
  }
  .navbaar {
    grid-template-columns: repeat(4, 0.2fr);
  }
  footer {
    padding-top: 32px;
  }
  .open {
    background-color: #ffffff;
  }
  .alert_wrapper {
    left: 265px;
  }
  .announcement_wrapper {
    left: 325px;
  }
}/*# sourceMappingURL=style.css.map */